<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description" content="{{.SystemData.WebDescription}}" />
    <meta name="keywords" content="{{.SystemData.WebKeywords}}" />
    <title>{{.PageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/static/index/css/css-family=Source+Code+Pro-1.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/style.css-v=2.0.1.css" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/highlight.css-v=2.0.1.css" />
    <link rel="Shortcut Icon" href="/static/index/img/favicon.ico" />
    <link rel="bookmark" href="/static/index/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/index/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/index/img/apple-touch-icon.png" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
</head>
<body>
<div class="body_container">
    <div id="header">
        <div class="site-name">
            <h1 class="hidden">{{.SystemData.WebName}}</h1>
            <a id="logo" href="/">{{.SystemData.WebName}}</a>
            <p class="description">{{.SystemData.WebSlogan}}</p>
        </div>
        <div id="nav-menu">
            <a href="/" {{if eq "/" .url}}class="current"{{end}}><i class="fa fa-home"> 首页</i></a>
            <a href="/archives" {{if eq "/archives" .url}}class="current"{{end}}><i class="fa fa-archive"> 归档</i></a>
            {{range .PagesInfo}}
            <a href="/page/{{.PageAlias}}" {{if eq  .PageAlias $.url}}class="current" {{end}}><i class="{{.PageIconClass}}"> {{.PageName}}</i></a>
            {{end}}
        </div>
        <div id="search-form">
            <div id="result-mask" class="hide"></div>
            <label> <input id="search-key" type="text" autocomplete="off" placeholder="Search" /> </label>
            <div id="result-wrap" class="hide">
                <div id="search-result"></div>
            </div>
            <div class="hide">
                <template id="search-tpl">
                    <div class="item">
                        <a href="{path}" title="{title}">
                            <div class="title">
                                {title}
                            </div>
                            <div class="time">
                                {date}
                            </div>
                        </a>
                        <a href="{catepath}" title="{category}">
                            <div class="tag">
                                <i class="fa fa-gui" style="font-size: 12px"> {category}</i>
                            </div>
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <div id="layout" class="layout-g">
        {{.LayoutContent}}
        <div class="layout-r">
            <div id="sidebar">
                <div class="search-pla"></div>
                <div class="widget">
                    <div class="widget-title">
                        <code><i class="fa fa-xie"> 最新文章</i></code>
                    </div>
                    <ul class="post-list">
                        {{range .NewArticle}}
                            <li class="post-list-item"><code><a class="post-list-link" href="/detail/{{.ID}}">{{.Title}}</a></code></li>
                        {{end}}
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <code><i class="fa fa-gui"> 分类</i></code>
                    </div>
                    <ul class="category-list">
                        {{range .CategoryData}}
                            <li class="category-list-item"><code><a class="category-list-link" href="/categories/{{replace .CategoryName " " "" -1}}">{{.CategoryName}}</a><span class="category-list-count">{{.Number}}</span></code></li>
                        {{end}}
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <code><i class="fa fa-biao"> 标签</i></code>
                    </div>
                    <div class="tagcloud">
                        <code>
                            {{range .TagData}}
                                <a href="/tags/{{.ID}}" style="font-size: 15px;">{{.Name}}</a>
                            {{end}}
                        </code>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <code><i class="fa fa-archive"> 归档</i></code>
                    </div>
                    <ul class="archive-list">
                        {{range $index, $my := .monthYear}}
                        <li class="archive-list-item"><code><a class="archive-list-link" href="/archives/{{replace $my " " "" -1}}">{{$my}}</a></code></li>
                        {{end}}
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <code><i class="fa fa-you"> 友情链接</i></code>
                    </div>
                    <ul></ul>
                    <code>
                        {{range .LinkInfo}}
                            <ul>
                                <li>
                                    <a href="{{.LinkUrl}}" title="{{.LinkName}}" target="_blank">{{.LinkName}}</a>
                                </li>
                            </ul>
                        {{end}}
                    </code>
                </div>
            </div>
        </div>
    </div>
    <code><a id="totop" href="#top"></a>
        <div id="footer">
            <div class="footer-info">
                <p><span> Copyright &copy;{{.SystemData.CopyRight}}</span><span>Language：<a rel="nofollow" target="_blank" href="https://studygolang.com/">Golang</a></span><span>Framework：<a rel="nofollow" target="_blank" href="https://beego.me/">Beego</a></span></p>
                <p>备案号：<i id="busuanzi_container_site_pv">{{.SystemData.RecordNumber}}</i></p>
            </div>
        </div>
    </code>
</div>
<script src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript " src="/static/index/js/search.json.js"></script>
<script type="text/javascript" src="/static/index/js/totop.js-v=2.0.1.js"></script>
{{/*<script type="text/javascript" color="0,0,255" opacity='0.5' zIndex="-2" count="99" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>*/}}
{{.Scripts}}
</body>
</html>
</div>