<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i>&nbsp;个人资料
            </li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget radius-bordered">
                    {{/*<div class="widget-header bordered-bottom bordered-themeprimary">
                        <span class="widget-caption">设置</span>
                    </div>*/}}
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label no-padding-right">用户名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="username" placeholder="用户名" name="username" value="{{.User.UserName}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label no-padding-right">密码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="copyright" placeholder="密码" name="password" value=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label no-padding-right">邮箱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="email" placeholder="邮箱" name="email" value="{{.User.Email}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Avatar" class="col-sm-2 control-label no-padding-right">头像</label>
                                <div class="col-sm-6">
                                    <img src="{{.User.Avatar}}" alt="头像" width="180">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="systemAdd">提交保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<script src="/static/admin/js/jquery.min.js"></script>
<script>
    $(function () {
        $("#systemAdd").click(function () {
            $.ajax({
                url: "{:url('admin/system/sys')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            icon: 5,
                            anim: 6,
                            title: '系统设置',
                            content: data.msg
                        });
                    }
                }
            });
            return false;
        });
    })
</script>
{/block}