<link rel="stylesheet"href="/static/lib/icheck/skins/minimal/red.css" />
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i>&nbsp;个人资料
            </li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <input type="hidden" name="id" value="{{.User.ID}}">
                            <div class="form-group">
                                <label for="user_name" class="col-sm-2 control-label no-padding-right">用户名称</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="category_name" placeholder="请输入用户名称" name="user_name" value="{{.User.UserName}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pass_word" class="col-sm-2 control-label no-padding-right">密　码</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="password" placeholder="请输入的密码" name="pass_word" value="{{.User.PassWord}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label no-padding-right">邮　箱</label>
                                <div class="col-sm-5">
                                    <input type="email" class="form-control" id="email" placeholder="请输入邮箱" name="email" value="{{.User.Email}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="avatar" class="col-sm-2 control-label no-padding-right">头　像</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="avatar" placeholder="请输入头像链接地址，可以不填" name="avatar" value="{{.User.Avatar}}"/>
                                </div>
                                <p class="help-block">请输入头像链接地址，可以不填</p>
                            </div>
                            {{if eq 1 .Role}}
                            <div class="form-group">
                                <label class="control-label col-sm-2">角　色</label>
                                <div class="col-sm-5 input-group">
                                    <label class="checkbox-inline i-checks">
                                        <input type="radio" class="i-checks" name="role" value="1" {{if eq 1 .User.Role}}checked{{end}}> 超级管理员
                                    </label>
                                    <label class="checkbox-inline i-checks">
                                        <input type="radio" class="i-checks" name="role" value="0" {{if eq 0 .User.Role}}checked{{end}}> 普通用户
                                    </label>
                                </div>
                            </div>
                            {{end}}
                            <div class="col-sm-offset-7">
                                <p class="help-block" style="color: #FF0000;">注意：资料修改后，重新登录后才能生效！</p>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" id="UserCreate">编辑</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/lib/editormd/editormd.min.js"></script>
<script src="/static/lib/icheck/icheck.min.js" ></script>>

<script>
    $("#author").val('h1ml');
    $(".i-checks").iCheck({ // 引入icheck插件
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red',
        labelHover: true,
    });
    $(function () {
        $("#UserCreate").click(function () {
            $.ajax({
                url: "/admin/user/edit",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            icon: 5,
                            anim: 6,
                            title: "修改用户信息",
                            content: data.msg
                        });
                    }
                }
            });
            return false;
        });
    })
</script>