<div class="layout-l">
     <div class="content_container">
      <div class="post">
       <h1 class="post-title">关于</h1>
       <div class="post-content">
        <div class="author-page">
         <a href="javascript:void(0);" class="photo"><img src="/static/index/img/face.png" tppabs="https://gitee.com//uploads/35/1935135_h7ml.png?1526345462" /></a>
         <div class="author">
          <p><i class="fa fa-user">name：</i>h7ml</p>
          <p><i class="fa fa-email">email：</i><a href="javascript:if(confirm(%27https://h7ml.cn/about/h7ml@qq.com  \n\nThis file was not retrieved by Teleport Ultra, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27https://h7ml.cn/about/h7ml@qq.com%27" tppabs="https://h7ml.cn/about/h7ml@qq.com" target="_blank">h1ml@qq.com</a></p>
          <p><i class="fa fa-github">github：</i><a href="javascript:if(confirm(%27https://github.com/h7ml  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://github.com/h7ml%27" tppabs="https://github.com/dxmq" target="_blank">h1ml</a></p>
         </div>
        </div>
        <h6 id="这是什么？"><a href="#这是什么？" class="headerlink" title="这是什么？"></a>这是什么？</h6>
        <p>一个代码盒子，记录学习点滴。</p> 
        <h6 id="为什么会有这个？"><a href="#为什么会有这个？" class="headerlink" title="为什么会有这个？"></a>为什么会有这个？</h6>
        <p>不想让生活博客被代码充斥而变了味，谈生活，不谈技术，谈技术，就不谈生活，过的纯粹些。</p> 
        <h6 id="要怎么做？"><a href="#要怎么做？" class="headerlink" title="要怎么做？"></a>要怎么做？</h6>
        <p>每天好好学习之后总结点东西发上来罢了。</p> 
        <h6 id="我是谁？"><a href="#我是谁？" class="headerlink" title="我是谁？"></a>我是谁？</h6>
        <p>1) 性顽劣，行止不似寻常娴淑女子;<br />2) 喜欢简洁纯粹的设计;<br />3) 喜阅读，然于书海中徜徉多年，所获不及万分之一，深感书海无涯;<br />4) 实验室:<a href="javascript:if(confirm(%27https://github.com/h7ml/web  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://github.com/h7ml/web%27" tppabs="https://github.com/h7ml/web" title="https://github.com/h7ml/web" target="_blank" rel="noopener">github.com/h7ml/web</a> emmm目前没什么东西。</p> 
       </div>
       <div id="comments">
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MjMxOC8xODg2NQ=="></div>
       </div>
      </div>
     </div>
</div>
