<div class="layout-l">
     <div class="content_container">
      <div class="post">
       <h1 class="post-title">关于</h1>
       <div class="post-content">
        <div class="author-page">
         <a href="javascript:;" class="photo"><img src="/static/index/img/face.png" /></a>
        <div class="author">
          <p><i class="fa fa-user">name：</i>zuo</p>
          <p><i class="fa fa-email">email：</i>1697859639@qq.com</p>
          <p><i class="fa fa-github">github：</i><a href="https://github.com/dxmq">dxmq</a></p>
         </div>
        </div>
        <h6 id="这是什么？"><a href="#这是什么？" class="headerlink" title="这是什么？"></a>这是什么？</h6>
        <p>一个代码盒子，记录学习点滴。</p> 
        <h6 id="为什么会有这个？"><a href="#为什么会有这个？" class="headerlink" title="为什么会有这个？"></a>为什么会有这个？</h6>
        <p>不想让生活博客被代码充斥而变了味，谈生活，不谈技术，谈技术，就不谈生活，过的纯粹些。</p> 
        <h6 id="要怎么做？"><a href="#要怎么做？" class="headerlink" title="要怎么做？"></a>要怎么做？</h6>
        <p>每天好好学习之后总结点东西发上来罢了。</p> 
        <h6 id="我是谁？"><a href="#我是谁？" class="headerlink" title="我是谁？"></a>我是谁？</h6>
        <p>1) 不喜热闹罢了;<br />2) 喜欢简洁纯粹的设计;<br />3) 喜阅读，然于书海中徜徉多年，所获不及万分之一，深感书海无涯;<br /></p> 
       </div>
       <div id="comments">
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MjMxOC8xODg2NQ=="></div>
       </div>
      </div>
     </div>
    </div>
<script src="/static/admin/js/jquery.min.js"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","weixin","tsina","qzone","linkedin","fbook","twi","print","renren","sqq","evernotecn","bdysc","tqq","tqf","bdxc","kaixin001","tieba","douban","bdhome","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","h163","copy"],"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"image":{"viewList":["tsina","qzone","weixin","fbook","twi","linkedin","youdao","evernotecn","mshare"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","qzone","weixin","fbook","twi","linkedin","youdao","evernotecn","mshare"]}};with(document)0[(getElementsByTagName('head')[0]||head).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>(function(d, s) {
    var j, e = d.getElementsByTagName('body')[0];
    if (typeof LivereTower === 'function') { return; }
    j = d.createElement(s);
    j.src = '/static/index/js/embed.dist.js'/*tpa=https://cdn-city.livere.com/js/embed.dist.js*/;
    j.async = true;
    e.appendChild(j);
})(document, 'script');
</script>