<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-home"></i>&nbsp;文章管理
            </li>
            <li>文章列表</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <a href="/admin/article/addindex" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;文章添加</a>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption">文章列表</span>
                        <div class="widget-buttons">
                            <!--分页-->
                            <ul id='page'></ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>标题</th>
                                <th>作者</th>
                                <th>分类</th>
                                <th>添加时间</th>
                                <th>是否显示</th>
                                <th>是否置顶</th>
                                <th>浏览数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range .Page.List}}
                                <tr id="article_tr_{{.ID}}">
                                    <td>{{.ID}}</td>
                                    <td>{{.Title}}</td>
                                    <td>{{.Author}}</td>
                                    <td>{{.CategoryName}}</td>
                                    <td>{{date .CreatedAt "Y:m:d H:i:s"}}</td>
                                    <td>{{if eq 1 .IsShow}}是{{else}}否{{end}}</td>
                                    <td>{{if eq 1 .IsTop}}是{{else}}否{{end}}</td>
                                    <td>{{.Views}}</td>
                                    <td>
                                        <a href="/admin/article/editindex/{{.ID}}" class="btn btn-azure btn-xs">编辑</a>
                                        <a href="#" class="btn btn-danger btn-xs article-del" dataid="{$vo.id}">删除</a>
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->

</div>
<!-- /Page Content -->
<script src="/static/lib/bootstrap-paginator/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-paginator/src/bootstrap-paginator.js"></script>
<script type="text/javascript">
    var p = $("#page");
        $(function () {
            var options = {
                currentPage: {{.Page.PageNo}},
                totalPages: '{{.Page.TotalPage}}',
                //pageUrl: '/admin/article/list',
                bootstrapMajorVersion: 3,
                numberOfPages: 5, //设置控件显示的页码数
                useBootstrapTooltip: false,//是否显示tip提示框
                size: "small",
                tooltipTitles: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "尾页";
                        case "page":
                            return (page === current) ? "Current page is " + page : "去往第 " + page + "页";
                    }
                },
                itemTexts:function(type,page, current){//文字翻译可有可无
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "尾页";
                        case "page":
                            return page;
                    }
                },
                onPageClicked: function(e,originalEvent,type,page){
                    window.location.href = "/admin/article/list/" + page
                },
            };
            p.bootstrapPaginator(options);
        });
</script>