<link rel="stylesheet" href="/static/lib/prism/prism.css">
<div class="layout-l">
     <div class="content_container">
      <div class="post">
       <h1 class="post-title">{{.Detail.Title}}</h1>
       <div class="post-meta">
        <a href="/detail/{{.Detail.ID}}#comments" class="comment-count"></a>
        <p><span class="date">{{date .Detail.CreatedAt "Y-m-d"}}</span><span><a href="/categories/{{.Detail.CategoryName}}" class="category">{{.Detail.CategoryName}}</a></span><span>{{.Detail.Author}}</span> <span><i id="busuanzi_container_page_pv"><i id="busuanzi_value_page_pv"></i><i>点击</i></i></span></p>
       </div>
       <div class="post-content" id="doc-content">
         <textarea style="display: none;">{{.Detail.Content}}</textarea>
       </div>
       <br>
       <div class="tags">
           {{range .Tag}}
                <a href="/tags/{{.ID}}">{{.Name}}</a>
           {{end}}
       </div>
       <div class="post-share">
        <div class="bdsharebuttonbox">
         <span style="float:left;line-height: 28px;height: 28px;font-size:16px;">分享到：</span>
         <a href="#" data-cmd="more" class="bds_more"></a>
         <a href="#" data-cmd="mshare" title="分享到一键分享" class="bds_mshare"></a>
         <a href="#" data-cmd="fbook" title="分享到Facebook" class="bds_fbook"></a>
         <a href="#" data-cmd="twi" title="分享到Twitter" class="bds_twi"></a>
         <a href="#" data-cmd="linkedin" title="分享到linkedin" class="bds_linkedin"></a>
         <a href="#" data-cmd="youdao" title="分享到有道云笔记" class="bds_youdao"></a>
         <a href="#" data-cmd="evernotecn" title="分享到印象笔记" class="bds_evernotecn"></a>
         <a href="#" data-cmd="weixin" title="分享到微信" class="bds_weixin"></a>
         <a href="#" data-cmd="qzone" title="分享到QQ空间" class="bds_qzone"></a>
         <a href="#" data-cmd="tsina" title="分享到新浪微博" class="bds_tsina"></a>
        </div>
       </div>
       <div class="post-nav">
        <a href="{{if .NextArticle.ID}}/detail/{{.NextArticle.ID}}{{else}}javascript:void(0){{end}}" class="next">{{if .NextArticle.ID}}{{.NextArticle.Title}}{{else}}emmm没有了{{end}}</a>
       </div>
       <div id="comments">
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MjMxOC8xODg2NQ=="></div>
       </div>
      </div>
     </div>
    </div>

  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","weixin","tsina","qzone","linkedin","fbook","twi","print","renren","sqq","evernotecn","bdysc","tqq","tqf","bdxc","kaixin001","tieba","douban","bdhome","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","h163","copy"],"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"image":{"viewList":["tsina","qzone","weixin","fbook","twi","linkedin","youdao","evernotecn","mshare"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","qzone","weixin","fbook","twi","linkedin","youdao","evernotecn","mshare"]}};with(document)0[(getElementsByTagName('head')[0]||head).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/lib/editormd/lib/marked.min.js"></script>
<script src="/static/lib/editormd/lib/prettify.min.js"></script>
<script src="/static/lib/editormd/lib/raphael.min.js"></script>
<script src="/static/lib/editormd/lib/underscore.min.js"></script>
<script src="/static/lib/editormd/lib/sequence-diagram.min.js"></script>
<script src="/static/lib/editormd/lib//flowchart.min.js"></script>
<script src="/static/lib/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/static/lib/editormd/editormd.min.js"></script>
<script src="/static/lib/prism/prism.js"></script>
<script>(
 function(d, s) {
 var j, e = d.getElementsByTagName('body')[0];
 if (typeof LivereTower === 'function') { return; }
 j = d.createElement(s);
 j.src = '/static/index/js/embed.dist.js'/*tpa=https://cdn-city.livere.com/js/embed.dist.js*/;
 j.async = true;
 e.appendChild(j);
 })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
<script type="text/javascript">
 var testEditor;
 $(function() {
  testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
   htmlDecode : "style,script,iframe",
   markdownSourceCode   : false,
   tex                  : true,
   taskList             : true,   // Github Flavored Markdown task lists
   emoji                : false,
   flowChart            : true,
   sequenceDiagram      : true,
   previewCodeHighlight : false
  });
 });
</script>
