<div class="layout-l">
 <div class="content_container">
  {{range .Page.List}}
   <div class="post">
    <h2 class="post-title"><a href="/detail/{{.ID}}">{{.Title}}</a></h2>
    <div class="post-meta">
     <p><span class="date">{{date .CreatedAt "Y-m-d"}}</span><span><a href="/categories/{{.CategoryName}}" class="category">{{.CategoryName}}</a></span> </p>
    </div>
    <div class="post-content" >
     <p>{{if eq 150 (strLen .Summary)}}{{.Summary}}...{{else}}{{.Summary}}{{end}}</p>
    </div>
    <p class="readmore"><a href="/detail/{{.ID}}">阅读更多</a> </p>
   </div>
  {{end}}
  {{if gt .ACount .APageSize}}
  <nav class="page-navigator">
   <!--分页-->
   <div class="page-container">
    <ul id="page"></ul>
   </div>
  </nav>
  {{end}}
  </div>
 </div>
<script src="/static/lib/bootstrap-paginator/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap-paginator/src/bootstrap-paginator.js"></script>
<script type="text/javascript">
 var p = $("#page");
         $(function () {
          var options = {
           currentPage: {{.Page.PageNo}},
           totalPages: '{{.Page.TotalPage}}',
           bootstrapMajorVersion: 3,
           numberOfPages: '{{.Page.TotalPage}}', //设置控件显示的页码数
           useBootstrapTooltip: false,//是否显示tip提示框
           size: "small",
           tooltipTitles: function (type, page, current) {
            switch (type) {
             case "first":
              return "首页";
             case "prev":
              return "上一页";
             case "next":
              return "下一页";
             case "last":
              return "尾页";
             case "page":
              return (page === current) ? "当前是第 " + page + "页" : "去往第 " + page + "页";
            }
           },
           itemTexts:function(type,page, current){//文字翻译可有可无
            switch (type) {
             case "first":
              return "首页";
             case "prev":
              return "上一页";
             case "next":
              return "下一页";
             case "last":
              return "尾页";
             case "page":
              return page;
            }
           },
           onPageClicked: function(e,originalEvent,type,page){
            window.location.href = "/page/" + page
           },
          };
          p.bootstrapPaginator(options);
         });
</script>
