<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li class="active">
                <i class="fa fa-link"></i>&nbsp;链接管理
            </li>
            <li>
                链接添加
            </li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header bordered-bottom bordered-themeprimary">
                        <span class="widget-caption">链接添加</span>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="link_name" class="col-sm-2 control-label no-padding-right">链接名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="link_name" name="link_name"/>
                                    <p class="help-block">请输入链接名称</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="link_url" class="col-sm-2 control-label no-padding-right">链接地址</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="link_url" name="link_url"/>
                                    <p class="help-block">请输入链接地址（前缀为http://或https://）</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" id="LinkCreate">添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<script src="/static/admin/js/jquery.min.js"></script>
<script>
    $(function () {
       $("#LinkCreate").click(function () {
           $.ajax({
               url: "/admin/link/create",
               type: "post",
               data: $("form").serialize(),
               dataType: "json",
               success: function (data) {
                   if (data.code == 0) {
                       layer.msg(data.msg, {
                           icon: 6,
                           time: 1000
                       }, function () {
                           location.href = data.url;
                       });
                   } else {
                       layer.open({
                           icon: 5,
                           anim: 6,
                           title: "链接添加",
                           content: data.msg
                       })
                   }
               },error: function () {
                   layer.open({
                       icon: 5,
                       anim: 6,
                       content: "网络错误"
                   });
               }
           });
           return false;
       });
    });
</script>